@page "/counter"
@rendermode InteractiveAuto

<PageTitle>Counter</PageTitle>

<RenderStateViewer Parent="this" />

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }

    // protected override void OnInitialized()
    // {
    //     Console.WriteLine($"Counter Initialized");
    // }
}
